.video-layout:has(.bg-white) {
  --background-color-yt: var(--background-color);
}

.video-layout:has(.bg-red) {
  --background-color-yt: var(--site-red);
}

.video-layout::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max(100px, 15vh);
  background-color: var(--background-color-yt);
  z-index: -1;
}

.video-layout {
  position: relative;
  display: flex;
  width: 98.5vw;
  padding-top: max(100px, 15vh);
}

.video-side {
  flex: 1;
  width: auto;
  background-color: var(--background-color-yt);
}

.video-main {
  flex: 0 1 1044px;
  max-width: 100%;
  box-sizing: border-box;
}

 .video .video-main {
  margin: 24px 0;
  max-width: 100%;
}

.video-youtube-container{
  padding: 0;
  margin: 0;
}

.video-youtube-wrapper{
  margin: 0;
}

@media (width >= 900px) {
    main > .section > div.video-youtube-wrapper {
       padding: 0;
       margin: 0;
    }
}

.video {
  text-align: center;
  max-width: 900px;
  margin: 24px auto;
}

.video[data-embed-loaded='false']:not(.placeholder) {
  /* reserve an approximate space to avoid extensive layout shifts */
  aspect-ratio: 16 / 9;
}

.video > div {
  display: flex;
  justify-content: center;
}

.video video {
  max-width: 100%;
}

.video .video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder + * {
  visibility: hidden;
  height: 0;
  width: 0;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}